body {
  color: #ffffff;
  background-color: #232229;
  padding: 20px 20px;
}

.main {
  font-family: JOST;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  height: 35em;
  margin-top: 13em;
}