@media only screen and (max-width:600px) {
  .logo {
    color: white;
  }

  ;

  .text {
    background-color: #2B2A33;
  }

}

@media only screen and (max-width:600px) {
  .logo {
    color: white;
  }

  ;

  .text {
    background-color: #2B2A33;
  }
}