.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

ul {
  height: 9em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

ul > li {
  background-color: #2b2a33;
  width: 30em;
  height: 2em;
}

.insert_task {
  color: #6c6a7c;
  padding: 15px 70px 15px 30px;
  background-color: #2b2a33;
  border: 1px dashed #6c6a7c;
  border-radius: 7px;
  font-size: 20px;
  width: 25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

body {
  color: #ffffff;
  background-color: #232229;
  padding: 20px 20px;
}

.main {
  font-family: JOST;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  height: 35em;
  margin-top: 13em;
}

.logo {
  font-family: JOST;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px, auto;
}

.button > h2 {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
}

#title {
  font-size: 2.5em;
}

.tasks {
  margin-right: 10em;
  font-size: 2em;
}

#text {
  background-color: #6c6a7c;
  color: #b5b1cc;
}